---
import { ArrowLeft } from "lucide-preact";
import type { BlogPost } from "../../types/blog";

interface Props {
  post: BlogPost;
  content: string;
}

const { post, content } = Astro.props;
---

<article class="bg-gray-50 py-5">
  <div class="container mx-auto px-4">
    <a
      href="/blog"
      class="text-xl font-bold text-law-primary hover:text-sky-900"
    >
      <ArrowLeft class="w-12 h-12 inline-block -mt-1 mr-1" />Geri Dön
    </a>
    <div
      class="max-w-3xl mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-4"
    >
      <img
        src={post.data.heroImage}
        alt={post.data.altText}
        class="w-full h-64 object-cover"
      />
      <div class="p-8">
        <h1 class="text-3xl font-bold text-law-secondary mb-4">
          {post.data.title}
        </h1>
        <p class="text-gray-600 mb-6">{post.data.description}</p>
        
        <div class="prose max-w-none" set:html={content}></div>
      </div>
    </div>
  </div>
</article>
